<html>
    <head>
        <title>Da Platypus</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Thank you for viewing my first ever project with Django!</a></h1>
        </div>

        <div>
            <p>published: 27.09.2020, 12:14</p>
            <h2><a href="">I have so much to learn</a></h2>
            <p>My Python journy began 4 months ago when I wanted to begin a more well-rounded IT professional. In the past 8 months I have held 3 different jobs in IT. SRM to field services, and now a satelite network operator.</p>
        </div>

        <div>
            <p>published: 27.09.2020, 12:14</p>
            <h2><a href="">My next goal.</a></h2>
            <p>Is to pass my CASP exam, and my AWS SAA. After that I would like to create a passive network scanner with a Raspberry Pi!</p>
        </div>
    </body>
</html>
